<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h1>Rasberry-Pi Configurations</h1>
       <form (submit)="updateJSON()">
        <div class="row">  
          <div class="col-md-6">
            <div class="form-group" *ngFor="let alerts of config?.alert | keyvalue;trackBy: trackAlert"> 
              <label for="alerts">{{alerts.key}}</label>
              <input name="alerts" placeholder="{{alerts.value}}" [(ngModel)]="alerts.id" class="form-control">
            </div>
            <div class="form-group">
              <label>Log Interval</label>
              <input name="logInterval" placeholder="{{config.logInterval}}" [(ngModel)]="config.logInterval" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" *ngFor="let wifis of config?.wifi | keyvalue">
              <label for="wifis">{{wifis.key}}</label>
              <input name="wifis" placeholder="{{wifis.value}}" [(ngModel)]="wifis[wifis.key]" class="form-control">
            </div>
        </div>
        </div>
          <button type="submit" class="btn btn-primary">Update Config</button>
        </form>
    </div>
  </div>
</div>