<div class="header">
	<a [routerLink]="['/home']" class="logo"><img src="../../../assets/logo.png" width="50" height="50">Server Sentinel</a>
	<ul class="nav justify-content-end">
		<li class="nav-item" *ngIf="!auth.isLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
		<li class="nav-item" *ngIf="!auth.isLoggedIn()"><a [routerLink]="['/register']">Register</a></li>
		<li class="nav-item" *ngIf="auth.isLoggedIn()"><a [routerLink]="['/detail']">Config</a><li>
		<li class="nav-item" *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
	</ul>
</div>